
html, body{
    font-family: Raleway;
    display: inline;
    background: #212121 !important;
   
  }
  .nav {
      height: 8rem;
      display: flex;
      justify-content: center;
    align-items: center;  
  }
  .navbar {
      width: 10rem;
      height: 3rem;
      background: rgba(255,255,255,.9);
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: .5rem;
      position: relative;
      box-shadow: 0 1rem 5rem rgba(90,90,90,.1);
    transition: .2s all;
    font-size: .8rem;
    margin-top:-2rem;
  }
    .btn{
      background-color: #DA59B1;
      color: #fff;
      text-decoration: none;
      display:inline-block;
      width:35%;
      font-family: Raleway;
      font-weight: 100;
      font-size: .75rem;
      margin-top:1rem;
    }
    .btn:hover{
      border:solid .1rem;
      color: #DA59B1;
      background:#ffffff;
      width:35%;
      border-color: #F54BA5;
      box-shadow: 0 .25rem .5rem rgba(0,0,0,0.16), 0 25rem .5rem rgba(0,0,0,0.16);
    }
    body {
      background: whitesmoke;
      text-align: center;
      width: 100% auto;
      height: 100vh;
      position: relative;
    }
    .img{
      margin-top:6rem;
      width:12rem;
      height:12rem;
    }
  
    footer {
      width: 100%;
      margin-top:5rem;
    }
    #icons{
        font-size: 1rem;
    }
    .col-md-6{
      display: inline;
      margin: auto;
      padding: none;
    }
    .row{
      width:100%;
      margin-left:20rem; 
    }
  .card {
    background: #fcfcfc;
    width: 32.5rem;
    height: 32.5rem;
    margin: 0rem auto;
    margin-left: 50%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    left:50;
  }
  .card:before {
    width: 8rem;
    height: 3rem;
    content: "";
    background: hsla(40, 59%, 54%, 0.4);
    position: absolute;  
  }
  .card:after {
    width: 8rem;
    height: 3rem;
    content: "";
    background: hsla(40, 59%, 54%, 0.4);
    position: absolute; 
  }
  .card:before {
    left: -5rem;
    top: -3rem;
    transform: rotate(-30deg);
  }
  .card:after {
    right: -5rem;
    bottom: -3rem;
    transform: rotate(150deg);
  }
  .card img {
    max-width: 100%;
  }
  .card-text{
    margin:2rem auto;
    font-family: 'Permanent Marker', cursive;
    font-weight: 50;
  }
  .card-footer{
    margin-top:-4rem;
  }
  #card-image{
    height: 22rem;
    width: 30rem;
  }
  .card {
    width: 26rem;
    margin: 0 auto;
    border: 20px solid white;
    display: inline-block;
    margin-top: 1rem;
    box-shadow: 0 12px 13px rgba(0,0,0,0.16), 0 12px 13px rgba(0,0,0,0.16);
  }
  .card-img{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    border: 1px solid black;
  }
  .card-img img{
    flex-shrink:0;
      -webkit-flex-shrink: 0;
      max-width:90%;
      max-height:90%;
      border: 1px solid black;
      border: 1px solid black;
    background: radial-gradient(#456, #001);
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 0px black;
  }
  
  #drink-body {
    font-size: 12px;
    text-align: center;
  }
  #drink-image{
    width:50%;
    height:50%;
  }
  .card-footer{
    margin-top:5rem;
  }
  .card-body{
    height:5rem;
    margin-bottom:-5rem;
  }
  .card-text{
    margin: 0 auto;
  }
  #imageCard{
   margin: 0 auto;
   position: fixed;
  left: 32.5%;
  top: 20%;
  }
  
  @media only screen and (max-width: 600px){
    .container-main{
        width: 80%;
        margin: 0 auto;
    }
    .container-head{
        width: 80%;
        font-size: 50px;
        margin: 5 auto;
    }
  
    card-img-top{
        width:80%;
        margin: 0 auto;
    }
  }
  row{
    height: 100% auto;
  }
  
  .fa-times-circle{
    color: #e36e3a;
  }
  #upload_button input[type=file] {
    display:none;
  }
  h4{
    color: rgb(61, 61, 61);
      text-transform: uppercase;
      border-bottom: .10rem solid #DA59B1;;
      padding-bottom: 1rem;
      margin: 0 auto;
      font-weight: 100;
  }
  
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
   
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  #fileFinder{
    margin-top: 25%;
    background-color:whitesmoke;
  }
  
  .modal-content{
    margin-top: 15%;
    height: 100%;
  }
  #modal-header{
    text-align: center;
    
  }
  #drink-body{
    height:100%;
  }
  #drink-image{
  margin: 0 auto;
  margin-top: 1rem;
  border:.1rem #212121;
  }
  #fav{
    margin-right:1rem;
    size: 50%;
  }